<!--<class-project>Loading...</class-project>-->

<nav>
  <a routerLink="/base-converter">Base Converter</a>
  <a routerLink="/basic-list">Basic List</a>
  <a routerLink="/model-driven-form">Model-Driven Form</a>
  <a routerLink="/template-driven-form">Template-Driven Form</a>
  <!--<a routerLink="/product">Product</a>-->
  <a routerLink="/animations">Animations</a>
  <a routerLink="/binding">Binding</a>
  <a routerLink="/directives">Directives</a>
  <a routerLink="/component-iterator">Component Iterator</a>
  <a routerLink="/event-receiver">Custom Events</a>
</nav>
<router-outlet></router-outlet>


<!--<server-parent></server-parent>-->


























<!--BASIC LOOPING-->
<!--<ul>-->
<!--<li *ngFor="let i of arr">{{i}}</li>-->
<!--</ul>-->


<!--IF CONDITIONALS-->

<!--<p *ngIf="myBool">myBool is True!</p>-->
<!--<p *ngIf="!myBool">myBool is False!</p>-->
<!--<p *ngIf="myBool && true">Example of 'and' operator</p>-->
<!--<p *ngIf="myBool || true">Example of 'or' operator</p>-->


<!--IF-ELSE CONDITIONALS-->

<!--<p *ngIf="myBool;then ifTemp else elseTemp"></p>-->
<!--<ng-template #ifTemp>If case!</ng-template>-->
<!--<ng-template #elseTemp>Else case!</ng-template>-->


<!--PIPES-->

<!--<h2>{{name|uppercase}}</h2>-->
<!--<h2>{{name|lowercase}}</h2>-->
<!--<h2>{{day}}</h2>-->
<!--<h2>{{day|date}}</h2>-->
<!--<h2>{{day|date: 'shortDate'}}</h2>-->
<!--<h2>{{day|date: 'fullDate'}}</h2>-->
<!--<h2>{{day|date: 'fullDate'|uppercase}}</h2>-->
<!--THIS LINE USES MY OWN CUSTOM PIPE, 'sort'-->
<!--<h2>{{array|sort: 'descending'}}</h2>-->


