<!--<nav>-->
  <!--<a routerLink="class-project/app-header">App Header</a>-->
  <!--<a routerLink="/class-project/shopping-list">Recipe Detail</a>-->
  <!--<a routerLink="/class-project/shopping-list-edit">Recipe Item</a>-->
  <!--<a routerLink="/class-project/recipe-list">Recipe List</a>-->
  <!--<a routerLink="/class-project/recipe-item">Shopping List</a>-->
  <!--<a routerLink="/class-project/recipe-detail-edit">Shopping List Edit</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <recipes></recipes>
      <shopping-list></shopping-list>
    </div>
  </div>
</div>
